<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <div
        class="btn-group dashboardController"
        role="group"
        aria-label="Dashboard buttons"
      >
        <button
          type="button"
          class="btn fw-bold text-white"
          (click)="navigateTo('orders')"
        >
          Ordini
        </button>
        <button
          type="button"
          class="btn fw-bold text-white"
          (click)="navigateTo('users')"
        >
          Utenti
        </button>
        <button
          type="button"
          class="btn fw-bold text-white"
          (click)="navigateTo('management')"
        >
          Gestione Magazzino
        </button>
        <button
          type="button"
          class="btn fw-bold text-white"
          (click)="navigateTo('addProduct')"
        >
          Aggiungi prodotto
        </button>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <div *ngIf="selectedSection === 'orders'">
          <h1>Ordini</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID Ordine</th>
                <th>Stato</th>
                <th>Informazioni di Spedizione</th>
                <th>Prodotti</th>
                <th>Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of allOrders">
                <td>{{ order.orderId }}</td>
                <td>{{ order.status }}</td>
                <td>
                  <ul>
                    <li>
                      Nome destinatario: {{ order.shippingInfo.recipientName }}
                    </li>
                    <li>Indirizzo: {{ order.shippingInfo.shippingAddress }}</li>
                    <li>Città: {{ order.shippingInfo.city }}</li>
                    <li>Stato: {{ order.shippingInfo.state }}</li>
                    <li>CAP: {{ order.shippingInfo.postalCode }}</li>
                    <li>Paese: {{ order.shippingInfo.country }}</li>
                    <li>Telefono: {{ order.shippingInfo.phoneNumber }}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let orderItem of order.orderItems">
                      {{ orderItem.product.name }} (Quantità:
                      {{ orderItem.quantity }})
                    </li>
                  </ul>
                </td>
                <td>
                  <button
                    class="btn remouveButton"
                    (click)="deleteOrder(order.orderId)"
                  >
                    Cancella
                  </button>
                  <button
                    class="btn shipButton mt-2"
                    (click)="shipOrder(order.orderId)"
                    [disabled]="order.status === 'SHIPPED'"
                  >
                    Spedisci
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="selectedSection === 'users'">
          <h1>Utenti</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID Utente</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of allUsers">
                <td>{{ user.userId }}</td>
                <td>{{ user.name }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <button
                    class="btn remouveButton"
                    (click)="deleteUser(user.userId)"
                  >
                    Rimuovi
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="selectedSection === 'management'">
          <h1>Prodotti</h1>
          <div class="d-flex justify-content-between">
            <button
              class="btn remouveButton mb-1"
              (click)="goToPreviousPage()"
              [disabled]="currentPage === 1"
            >
              Indietro
            </button>
            <button
              class="btn shipButton mb-1"
              (click)="goToNextPage()"
              [disabled]="currentPage === totalPages"
            >
              Avanti
            </button>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID Prodotto</th>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of allProducts">
                <td>{{ product.productId }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                  <button
                    class="btn remouveButton"
                    (click)="deleteProduct(product.productId)"
                  >
                    Rimuovi
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="selectedSection === 'addProduct'">
          <h1>Aggiungi un nuovo prodotto</h1>
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                required
              />
              <div
                *ngIf="
                  productForm.get('name')?.touched &&
                  productForm.get('name')?.invalid
                "
                class="alert alert-danger"
              >
                Nome del prodotto è obbligatorio.
              </div>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Descrizione</label>
              <textarea
                class="form-control"
                id="description"
                formControlName="description"
                rows="3"
                required
              ></textarea>
              <div
                *ngIf="
                  productForm.get('description')?.touched &&
                  productForm.get('description')?.invalid
                "
                class="alert alert-danger"
              >
                Descrizione è obbligatoria.
              </div>
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Prezzo</label>
              <input
                type="number"
                class="form-control"
                id="price"
                formControlName="price"
                required
              />
              <div
                *ngIf="
                  productForm.get('price')?.touched &&
                  productForm.get('price')?.invalid
                "
                class="alert alert-danger"
              >
                Prezzo è obbligatorio.
              </div>
            </div>

            <div class="mb-3">
              <label for="imageUrl" class="form-label">URL dell'immagine</label>
              <input
                type="text"
                class="form-control"
                id="imageUrl"
                formControlName="imageUrl"
              />
            </div>

            <div class="mb-3">
              <label for="unitsInStock" class="form-label"
                >Quantità in magazzino</label
              >
              <input
                type="number"
                class="form-control"
                id="unitsInStock"
                formControlName="unitsInStock"
                required
              />
              <div
                *ngIf="
                  productForm.get('unitsInStock')?.touched &&
                  productForm.get('unitsInStock')?.invalid
                "
                class="alert alert-danger"
              >
                Quantità in magazzino è obbligatoria.
              </div>
            </div>

            <div class="mb-3">
              <label for="category" class="form-label">Categoria</label>
              <select
                class="form-select"
                id="category"
                formControlName="category"
                required
              >
                <option value="" disabled>Seleziona una categoria</option>
                <option value="SMARTPHONE">SMARTPHONE</option>
                <option value="LAPTOP">LAPTOP</option>
                <option value="SMARTWATCH">SMARTWATCH</option>
                <option value="TABLET">TABLET</option>
                <option value="TV">TV</option>
                <option value="PC">PC</option>
              </select>
              <div
                *ngIf="
                  productForm.get('category')?.touched &&
                  productForm.get('category')?.invalid
                "
                class="alert alert-danger"
              >
                Categoria è obbligatoria.
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn shipButton">
                Aggiungi Prodotto
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
