<section class="mt-3">
  <div class="container-fluid">
    <div class="row py-3 rounded">
      <div class="col rounded">
        <div class="animation">
          <img
            #iphone
            class="iphone"
            src="https://assets.codepen.io/8292695/iphone-14.svg"
            alt=""
          />
          <img
            #widgets
            id="app-store"
            class="widgets"
            src="https://assets.codepen.io/8292695/appstore-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="screen-time"
            class="widgets"
            src="https://assets.codepen.io/8292695/screen-time-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="weather"
            class="widgets"
            src="https://assets.codepen.io/8292695/weather-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="stocks"
            class="widgets"
            src="https://assets.codepen.io/8292695/stocks-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="calendar"
            class="widgets"
            src="https://assets.codepen.io/8292695/calendar-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="fitness"
            class="widgets"
            src="https://assets.codepen.io/8292695/fitness-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="find-my"
            class="widgets"
            src="https://assets.codepen.io/8292695/find-my-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="sleep"
            class="widgets"
            src="https://assets.codepen.io/8292695/sleep-widget.svg"
            alt=""
          />
          <img
            #widgets
            id="apple-tv"
            class="widgets"
            src="https://assets.codepen.io/8292695/apple-tv.svg"
            alt=""
          />
          <img
            #widgets
            id="wallet"
            class="widgets"
            src="https://assets.codepen.io/8292695/wallet.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <header class="mb-4">
      <h2 class="text-center">Novità</h2>
    </header>

    <div class="row">
      <div
        *ngFor="let product of randomProducts"
        class="col-lg-3 col-md-6 col-sm-6 mb-2"
      >
        <div class="card h-100">
          <img [src]="product.imageUrl" class="first-image" />
          <div class="card-body">
            <a
              [routerLink]="['/details', product.productId]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn detailsButton me-1"
            >
              Dettagli</a
            >
            <hr />

            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">€ {{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 featureColor">
  <div class="container text-dark pt-3">
    <header class="pt-4 pb-3">
      <h3>Perche scegliere noi</h3>
    </header>

    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle p-3 d-flex me-2 mb-2">
            <i
              class="fas fa-camera-retro fa-2x fa-fw text-primary floating"
            ></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Prezzi senza concorrenti</h5>
            <p>
              Alla ricerca di prodotti elettronici e digitali di qualità senza
              svuotare il portafoglio? Sei nel posto giusto! Siamo impegnati a
              offrirti le ultime novità nel mondo della tecnologia a prezzi
              incredibilmente competitivi.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 h-100">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle p-3 d-flex me-2 mb-2">
            <i class="fas fa-star fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Migliore qualità</h5>
            <p>
              Ogni prodotto che trovi nel nostro e-commerce rispecchia un
              impegno verso l'eccellenza. Selezioniamo attentamente ogni
              articolo, assicurandoci che risponda agli standard più elevati del
              settore, per offrirti solamente il meglio.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle p-3 d-flex me-2 mb-2">
            <i class="fas fa-plane fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Spedizioni in tutto il mondo</h5>
            <p>
              Dove che tu sia, vogliamo che i nostri prodotti ti raggiungano.
              Grazie a partnership logistiche strategiche, siamo in grado di
              spedire in tutto il mondo, garantendo tempi di consegna ottimali e
              tracciabilità del tuo ordine in ogni momento.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle p-3 d-flex me-2 mb-2">
            <i class="fas fa-users fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Community di clienti</h5>
            <p>
              Oltre ai nostri prezzi imbattibili, ciò che ci rende davvero
              speciali è la nostra community di appassionati di tecnologia.
              Quando acquisti da noi, non diventi solo un cliente, ma parte di
              una rete in crescita di entusiasti che condividono consigli,
              recensioni e le ultime tendenze del settore.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle p-3 d-flex me-2 mb-2">
            <i class="fas fa-thumbs-up fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Soddisfazione dei clienti</h5>
            <p>
              La tua soddisfazione è al centro di ciò che facciamo. Ogni
              decisione, dalla selezione dei prodotti al servizio clienti, è
              presa pensando a te. Ascoltiamo attivamente il tuo feedback e
              siamo sempre pronti a intervenire per garantirti la migliore
              esperienza di acquisto possibile.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle p-3 d-flex me-2 mb-2">
            <i class="fas fa-box fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Ampia gamma di prodotti</h5>
            <p>
              La nostra collezione è tanto vasta quanto variegata. Che tu stia
              cercando l'ultimo gadget tecnologico, un dispositivo unico o
              accessori innovativi, siamo certi che troverai ciò che fa per te.
              Esplora la nostra gamma e scopri un mondo di prodotti attentamente
              selezionati per te.
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
