.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.detailsButton {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: #034b82;
  padding: 10px 30px;
  border: 2px solid #22cad9;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.detailsButton:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #78f34f;
  color: #000000;
}

// CARD PRODOTTI

h1 {
  color: #5c7cfa;
}

.card {
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  background: rgb(223, 249, 251);
  border-radius: 15px;
  transition: transform 0.2s;
}

.card-body {
  padding: 10px;
  margin-top: -50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease-in-out;
}

.card-body a {
  visibility: hidden;
}

.card:hover > .card-body {
  margin-top: -0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover > .card-body > a {
  visibility: visible;
}

.first-image {
  height: auto;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wish {
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-left: -24px;
  margin-top: 0px;
  margin-right: 3px;
  background-color: #fff;
  color: #5c7cfa;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish {
  color: #c50707;
}

@keyframes fadeInOut {
  5%,
  95% {
    opacity: 1;
    top: 50px;
  }
  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}
// FEATURE
.featureColor {
  background: rgb(223, 249, 251);
}

// ICONE PARTE INFERIORE DI PERCHE SCEGLIERE NOI
span.rounded-circle {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

i.fas {
  font-size: 24px;
}
