<section class="mt-5">
  <!-- Jumbotron -->
  <div class="row py-3 rounded">
    <div class="col rounded">
      <div
        id="carouselExampleIndicators"
        class="carousel slide shadow-sm"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <img
              src="../../../assets/img/iphone-15-pro-model-unselect-gallery-1-202309.jpeg"
              class="d-block w-100"
              alt="..."
            />
            <div
              class="w-25 h-100 mini-blog float-left position-absolute top-0 start-0 d-flex align-items-center"
            >
              <h3 class="z-1">
                iPhone 15: <br /><br />L'Innovazione in Tasca! Chip A17 per
                velocità stupefacenti. Fotocamera quadrupla per scatti da
                maestro. Design ultrasottile e display Super Retina XDR.
                Autonomia che dura tutto il giorno. Sicurezza elevata con Face
                ID avanzato. Entra nel futuro. Scopri oggi l'iPhone 15!
              </h3>
            </div>
          </div>

          <div class="carousel-item">
            <img
              src="../../../assets/img/cyborg-15-feature.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div
              class="w-50 h-100 mini-blog float-right position-absolute top-0 end-0 d-flex align-items-center"
            >
              <h3 class="text-white">
                Cyborg 15: Il PC Che Ridefinisce il Futuro! <br />
                <br />
                Processore ultrarapido per multitasking senza sforzo. Display
                cristallino per una visione senza compromessi. Autonomia
                prolungata: lavora e gioca più a lungo. Design sottile e
                leggero, perfetto per ogni avventura. Sicurezza avanzata, per
                una mente tranquilla. Il tuo prossimo passo nel mondo digitale?
                Cyborg 15.
              </h3>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/img/Samsung-Galaxy-S24-Ultra-2.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div
              class="w-50 h-100 mini-blog float-left position-absolute bottom-0 start-0 d-flex align-items-end"
            >
              <h3>
                Samsung S24: L'Evoluzione Nella Tua Mano! <br /><br />
                Processore di ultima generazione: navigazione e multitasking
                istantanei. Camera rivoluzionaria: immagini e video mai visti
                prima.
              </h3>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/img/csm_AKA8518_984be0479c.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div
              class="w-25 h-100 mini-blog position-absolute top-0 start-0 d-flex align-items-center justify-content-center"
            >
              <h3 class="text-white">
                MacBook Pro 14: La Potenza Oltre Ogni Limite! <br /><br />
                M-Chip di Nuova Generazione: Prestazioni incredibili in ogni
                attività. Display Retina XDR: Colori vividi e dettagli nitidi
                come mai prima d'ora. Autonomia Straordinaria: Lavora e gioca
                per tutta la giornata con una sola carica.
              </h3>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev justify-content-start px-5"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <p aria-hidden="true">&#10094;</p>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next justify-content-end px-5"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <p aria-hidden="true">&#10095;</p>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <header class="mb-4">
      <h3>Novità</h3>
    </header>

    <div class="row">
      <div
        *ngFor="let product of randomProducts"
        class="col-lg-3 col-md-6 col-sm-6 mb-2"
      >
        <div class="card">
          <img [src]="product.imageUrl" class="first-image" />
          <div class="card-body">
            <a
              [routerLink]="['/details', product.productId]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn detailsButton me-1"
            >
              Dettagli</a
            >
            <hr />

            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">€ {{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 featureColor">
  <div class="container text-dark pt-3">
    <header class="pt-4 pb-3">
      <h3>Perche scegliere noi</h3>
    </header>

    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i
              class="fas fa-camera-retro fa-2x fa-fw text-primary floating"
            ></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Prezzi senza concorrenti</h5>
            <p>
              Alla ricerca di prodotti elettronici e digitali di qualità senza
              svuotare il portafoglio? Sei nel posto giusto! Siamo impegnati a
              offrirti le ultime novità nel mondo della tecnologia a prezzi
              incredibilmente competitivi.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 h-100">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-star fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Migliore qualità</h5>
            <p>
              Ogni prodotto che trovi nel nostro e-commerce rispecchia un
              impegno verso l'eccellenza. Selezioniamo attentamente ogni
              articolo, assicurandoci che risponda agli standard più elevati del
              settore, per offrirti solamente il meglio.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-plane fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Spedizioni in tutto il mondo</h5>
            <p>
              Dove che tu sia, vogliamo che i nostri prodotti ti raggiungano.
              Grazie a partnership logistiche strategiche, siamo in grado di
              spedire in tutto il mondo, garantendo tempi di consegna ottimali e
              tracciabilità del tuo ordine in ogni momento.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-users fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Community di clienti</h5>
            <p>
              Oltre ai nostri prezzi imbattibili, ciò che ci rende davvero
              speciali è la nostra community di appassionati di tecnologia.
              Quando acquisti da noi, non diventi solo un cliente, ma parte di
              una rete in crescita di entusiasti che condividono consigli,
              recensioni e le ultime tendenze del settore.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-thumbs-up fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Soddisfazione dei clienti</h5>
            <p>
              La tua soddisfazione è al centro di ciò che facciamo. Ogni
              decisione, dalla selezione dei prodotti al servizio clienti, è
              presa pensando a te. Ascoltiamo attivamente il tuo feedback e
              siamo sempre pronti a intervenire per garantirti la migliore
              esperienza di acquisto possibile.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-box fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h5 class="title">Ampia gamma di prodotti</h5>
            <p>
              La nostra collezione è tanto vasta quanto variegata. Che tu stia
              cercando l'ultimo gadget tecnologico, un dispositivo unico o
              accessori innovativi, siamo certi che troverai ciò che fa per te.
              Esplora la nostra gamma e scopri un mondo di prodotti attentamente
              selezionati per te.
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
