<!--Main Navigation-->
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a
            href="https://mdbootstrap.com/"
            target="_blank"
            class="float-start"
          >
            <img
              src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
              height="35"
            />
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <a
              [routerLink]="['/register']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Sign in</p>
            </a>
            <a
              [routerLink]="['/login']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">login</p>
            </a>
            <a
              [routerLink]="['/wishlist']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-heart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Wishlist</p>
            </a>
            <a
              [routerLink]="['/cart']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="border rounded py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-shopping-cart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">My cart</p>
            </a>
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
            <div class="form-outline">
              <input
                type="search"
                id="form1"
                class="form-control"
                placeholder="Search"
              />
            </div>
            <button type="button" class="btn btn-primary shadow-0">
              <i class="bi bi-apple"></i>
            </button>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container justify-content-center justify-content-md-between">
      <!-- Toggle button -->
      <button
        class="navbar-toggler border py-2 text-dark"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarLeftAlignExample"
        aria-controls="navbarLeftAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/SMARTPHONE"
              >Smartphone</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/LAPTOP"
              >Laptop</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/SMARTWATCH"
              >Smartwatch</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/TABLET"
              >Tablet</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/TV">Tv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/PC">Pc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/AUDIO">Audio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/products/CAMERA"
              >Camera</a
            >
          </li>
        </ul>
        <!-- ... (altre parti della navigazione) -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
