<!--Main Navigation-->
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center navColor">
    <div class="container">
      <div class="row gy-3 d-flex align-items-center">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            target="_blank"
            class="float-start"
          >
            <img
              src="../../../assets/img/Tech Space(3).png"
              height="35"
              width="100"
            />
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <a
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/register']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn leftButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Sign in</p>
            </a>
            <a
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/login']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn leftButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Login</p>
            </a>
            <a
              *ngIf="isUserLoggedIn"
              [routerLink]="['/profile']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn leftButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Profilo</p>
            </a>
            <a
              *ngIf="isUserLoggedIn"
              (click)="logout()"
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn leftButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">logout</p>
            </a>
            <a
              [routerLink]="['/wishlist']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn leftButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-heart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Wishlist</p>
            </a>
            <a
              [routerLink]="['/cart']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="leftButton btn py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-shopping-cart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">My cart</p>
            </a>
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
            <div class="form-outline">
              <input
                type="search"
                id="form1"
                class="form-control"
                placeholder="Search"
                [(ngModel)]="searchQuery"
              />
            </div>
            <button
              type="button"
              class="btn btn-primary shadow-0"
              (click)="onSearchButtonClick()"
            >
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light navColorBottom">
    <!-- Container wrapper -->
    <div class="container justify-content-center justify-content-md-between">
      <!-- Toggle button -->
      <button
        class="navbar-toggler border py-2 text-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/SMARTPHONE"
              >Smartphone</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/LAPTOP"
              >Laptop</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/SMARTWATCH"
              >Smartwatch</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/TABLET"
              >Tablet</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/TV">Tv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/PC">Pc</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              [routerLink]="['/checkout']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Audio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/CAMERA"
              >Camera</a
            >
          </li>
        </ul>
        <!-- ... (altre parti della navigazione) -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
