<header>
  <div class="p-3 text-center navColor">
    <div class="container">
      <div class="row gy-3 d-flex align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="float-start logo"
          >
            Digital Delights
          </a>
        </div>

        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end fw-bold">
            <a
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/register']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn rightButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Sign in</p>
            </a>
            <a
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/login']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn rightButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Login</p>
            </a>
            <a
              *ngIf="isUserLoggedIn && !isAdmin"
              [routerLink]="['/profile']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn rightButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Profilo</p>
            </a>
            <a
              *ngIf="isUserLoggedIn && isAdmin"
              [routerLink]="['/dashboard']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 ms-2 btn rightButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Dashboard</p>
            </a>
            <a
              *ngIf="isUserLoggedIn"
              (click)="logout()"
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn rightButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fa-solid fa-power-off m-1 me-md-2"></i>

              <p class="d-none d-md-block mb-0">logout</p>
            </a>
            <a
              [routerLink]="['/wishlist']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="me-1 btn rightButton py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-heart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Wishlist</p>
            </a>
            <a
              [routerLink]="['/cart']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="rightButton btn py-1 px-3 nav-link d-flex align-items-center"
            >
              <i class="fas fa-shopping-cart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Carrello</p>
            </a>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
            <div class="form-outline">
              <input
                type="search"
                id="form1"
                class="form-control transparent-input border-0"
                placeholder="Search"
                [(ngModel)]="searchQuery"
                (input)="searchProducts()"
              />
            </div>
            <button
              type="button"
              class="btn btnSearch shadow-0"
              (click)="onSearchButtonClick()"
            >
              <i class="bi bi-search text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light navColorBottom">
    <div class="container justify-content-center justify-content-md-between">
      <button
        class="navbar-toggler border py-2 text-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold text-dark fs-5">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/SMARTPHONE">Smartphone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/LAPTOP">Laptop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/SMARTWATCH">Smartwatch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/TABLET">Tablet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/TV">Tv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/PC">Pc</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
