<div class="container">
  <!-- Gestione del caricamento dei prodotti -->
  <ng-container *ngIf="loading; else productsLoaded">
    <div class="loader"></div>
  </ng-container>

  <ng-template #productsLoaded>
    <!-- Ciclo esterno per le categorie -->
    <div *ngFor="let categoryKey of getObjectKeys(categoriesWithProducts)">
      <h2 class="text-center mt-4 mb-4 categoryAnimation">
        <Span>{{ categoryKey }}</Span>
      </h2>
      <div class="row mt-3">
        <!-- Ciclo interno per i prodotti di una data categoria -->
        <ng-container
          *ngFor="let product of categoriesWithProducts[categoryKey]"
        >
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 hp">
            <div class="card h-100 shadow-sm">
              <a>
                <img
                  [src]="product.imageUrl"
                  class="card-img-top"
                  [alt]="product.name"
                />
              </a>

              <div class="label-top shadow-sm">
                <a class="text-white" target="_blank" [href]=""></a>
              </div>

              <div class="card-body">
                <div class="clearfix mb-3">
                  <span class="float-start badge rounded-pill bg-success">{{
                    product.price
                  }}</span>
                  <span class="float-end">
                    <a
                      class="small text-muted text-uppercase aff-link"
                      (click)="openReviewModal(product)"
                      >reviews</a
                    >
                  </span>
                </div>

                <div class="card-title">
                  <h5>{{ product.name }}</h5>
                </div>

                <div class="d-grid gap-2 my-4">
                  <button
                    class="btn btn-warning bold-btn"
                    (click)="addToCart(product)"
                  >
                    add to cart
                  </button>
                </div>
                <div class="clearfix mb-1">
                  <span class="float-start">
                    <a href="#"><i class="fas fa-question-circle"></i></a>
                  </span>
                  <span class="float-end">
                    <i
                      class="far fa-heart"
                      (click)="toggleFavorite(product)"
                      [class.fas]="
                        favoriteProductIds.includes(product.productId)
                      "
                      [class.far]="
                        !favoriteProductIds.includes(product.productId)
                      "
                    ></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>

<!-- Modal per recensioni -->
<div
  class="modal fade"
  id="reviewModal"
  tabindex="-1"
  aria-labelledby="reviewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLabel">Aggiungi recensione</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeReviewModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="showFeedback" class="alert alert-success mb-3">
          {{ feedbackMessage }}
        </div>
        <div class="rating">
          <span
            *ngFor="let star of [1, 2, 3, 4, 5]"
            (click)="setRating(star)"
            (mouseover)="setHover(star)"
            (mouseout)="removeHover()"
            [class.selected]="rating >= star"
            [class.hovered]="hoverRating >= star"
          >
            ☆
          </span>
        </div>
        <textarea
          [(ngModel)]="reviewText"
          class="form-control"
          rows="4"
          placeholder="Scrivi la tua recensione qui..."
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeReviewModal()"
        >
          Chiudi
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="submitReview()"
          *ngIf="authService.isAuthenticated() && selectedProductForReview"
        >
          Invia
        </button>
        <p *ngIf="!authService.isAuthenticated()">
          Effettua il login per lasciare una recensione.
        </p>
        <p *ngIf="authService.isAuthenticated() && !selectedProductForReview">
          Seleziona un prodotto per lasciare una recensione.
        </p>
      </div>
    </div>
  </div>
</div>
