<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div *ngIf="notificationMessage" class="alert alert-info">
        {{ notificationMessage }}
      </div>
      <div class="col-xl-8 col-lg-8 mb-4">
        <div class="card shadow-0 border">
          <div class="p-4">
            <h5 class="card-title mb-3">Checkout</h5>

            <form #checkoutForm="ngForm">
              <div class="row">
                <div class="col-6 mb-3">
                  <p class="mb-0">Nome del destinatario</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [(ngModel)]="shippingInfo.recipientName"
                      #recipientName="ngModel"
                      name="recipientName"
                      placeholder="Scrivi qui"
                      class="form-control"
                      required
                    />
                  </div>
                  <div
                    *ngIf="recipientName.invalid && recipientName.touched"
                    class="text-danger"
                  >
                    Il nome del destinatario è obbligatorio.
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <p class="mb-0">Indirizzo di spedizione</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [(ngModel)]="shippingInfo.shippingAddress"
                      #shippingAddress="ngModel"
                      name="shippingAddress"
                      placeholder="Scrivi qui"
                      class="form-control"
                      required
                    />
                  </div>
                  <div
                    *ngIf="shippingAddress.invalid && shippingAddress.touched"
                    class="text-danger"
                  >
                    L'indirizzo di spedizione è obbligatorio.
                  </div>
                </div>

                <div class="col-4 mb-3">
                  <p class="mb-0">Città</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [(ngModel)]="shippingInfo.city"
                      #city="ngModel"
                      name="city"
                      placeholder="Scrivi qui"
                      class="form-control"
                      required
                    />
                  </div>
                  <div *ngIf="city.invalid && city.touched" class="text-danger">
                    La città è obbligatoria.
                  </div>
                </div>

                <div class="col-4 mb-3">
                  <p class="mb-0">Provincia</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [(ngModel)]="shippingInfo.state"
                      #state="ngModel"
                      name="state"
                      placeholder="Scrivi qui"
                      class="form-control"
                      required
                    />
                  </div>
                  <div
                    *ngIf="state.invalid && state.touched"
                    class="text-danger"
                  >
                    La provincia è obbligatoria.
                  </div>
                </div>

                <div class="col-4 mb-3">
                  <p class="mb-0">Codice Postale</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [(ngModel)]="shippingInfo.postalCode"
                      #postalCode="ngModel"
                      name="postalCode"
                      placeholder="Scrivi qui"
                      class="form-control"
                      required
                    />
                  </div>
                  <div
                    *ngIf="postalCode.invalid && postalCode.touched"
                    class="text-danger"
                  >
                    Il codice postale è obbligatorio.
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <p class="mb-0">Nazione</p>
                  <div class="form-outline">
                    <input
                      type="text"
                      [(ngModel)]="shippingInfo.country"
                      #country="ngModel"
                      name="country"
                      placeholder="Scrivi qui"
                      class="form-control"
                      required
                    />
                  </div>
                  <div
                    *ngIf="country.invalid && country.touched"
                    class="text-danger"
                  >
                    La nazione è obbligatoria.
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <p class="mb-0">Numero di telefono</p>
                  <div class="form-outline">
                    <input
                      type="tel"
                      [(ngModel)]="shippingInfo.phoneNumber"
                      #phoneNumber="ngModel"
                      name="phoneNumber"
                      placeholder="+39"
                      class="form-control"
                      required
                    />
                  </div>
                  <div
                    *ngIf="phoneNumber.invalid && phoneNumber.touched"
                    class="text-danger"
                  >
                    Il numero di telefono è obbligatorio.
                  </div>
                </div>
              </div>

              <div class="float-end">
                <button class="btn btn-light border" (click)="onCancelClick()">
                  Annulla
                </button>
                <button
                  class="btn btn-success shadow-0 border"
                  [disabled]="!checkoutForm.valid"
                  (click)="onContinueClick()"
                >
                  Continua
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end"
      >
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
          <h6 class="mb-3">Sommario</h6>

          <div class="d-flex justify-content-between">
            <p class="mb-2">Prezzo totale:</p>
            <p class="mb-2">€{{ originalTotalPrice.toFixed(2) }}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Sconto:</p>
            <p class="mb-2 text-danger">- €{{ discount.toFixed(2) }}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Costi di spedizione:</p>
            <p class="mb-2">+ € 0</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="mb-2">Totale da pagare:</p>
            <p class="mb-2 fw-bold">€{{ totalPrice.toFixed(2) }}</p>
          </div>

          <div class="input-group mt-3 mb-4">
            <input
              type="text"
              class="form-control border"
              [(ngModel)]="promoCode"
              placeholder="Inserisci qui il tuo promoCode"
            />
            <button
              class="btn btn-light text-primary border"
              (click)="applyDiscount()"
            >
              Applica
            </button>
          </div>
          <button
            *ngIf="isOrderCreated"
            (click)="handlePayment()"
            class="btn btn-warning payment"
          >
            Vai al pagamento
          </button>
          <hr />
          <h6 class="text-dark my-4">Articoli nel carrello</h6>

          <div
            *ngFor="let item of cartItems"
            class="d-flex align-items-center mb-4"
          >
            <div class="me-3 position-relative">
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary"
              >
                {{ item.quantity }}
              </span>
              <img
                style="height: 96px; width: 96px"
                class="img-sm rounded border"
              />
            </div>
            <div class="">
              <a href="#" class="nav-link"> {{ item.product.name }} <br /> </a>
              <div class="price text-muted">
                Totale: €{{ (item.product.price * item.quantity).toFixed(2) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
