<div class="container-fluid mt-5">
  <h2 class="mb-4">Il tuo profilo</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-lg mb-5">
        <div class="card-body">
          <h4 class="card-title mb-3 text-center">
            {{ user?.username }} {{ user?.lastName }}
          </h4>
          <hr />

          <p class="card-text"><strong>Email:</strong> {{ user?.email }}</p>
          <p class="card-text"><strong>Username:</strong> {{ user?.name }}</p>

          <address>
            <strong>Indirizzo:</strong><br />
            {{ user?.address?.via }}, {{ user?.address?.localita }},<br />
            {{ user?.address?.cap }}, {{ user?.address?.comune }}
          </address>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header">I miei ordini</div>
        <ul class="list-group list-group-flush overflow-auto scrollable">
          <li class="list-group-item" *ngFor="let order of orders">
            <strong>Ordine:</strong> #{{ order.orderId }}
            <br />
            <strong>Status:</strong> {{ order.status }}
            <br />
            <strong>Prezzo totale:</strong> €{{
              order.totalPrice | number : "1.2-2"
            }}
            <br />
            <strong>Prodotti:</strong>
            <ul>
              <li
                class="list-group-item d-flex justify-content-between"
                *ngFor="let product of order?.products"
              >
                {{ product.name }}
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#reviewModal"
                  (click)="onReviewClick(product)"
                  class="btn reviewsButton"
                >
                  Recensione
                </button>
              </li>
            </ul>
          </li>
          <li class="list-group-item" *ngIf="orders.length === 0">
            Non hai ancora effettuato ordini.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Aggiorna Dettagli Account</div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Nome:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
              />
              <div
                *ngIf="
                  userForm?.get('name')?.errors && userForm.get('name')?.touched
                "
                class="text-danger"
              >
                <div *ngIf="userForm.get('name')?.errors?.['required']">
                  Il nome è obbligatorio.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="lastName" class="form-label">Cognome:</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
              />
              <div
                *ngIf="
                  userForm?.get('lastName')?.errors &&
                  userForm.get('lastName')?.touched
                "
                class="text-danger"
              >
                <div *ngIf="userForm.get('lastName')?.errors?.['required']">
                  Il cognome è obbligatorio.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
              <div
                *ngIf="
                  userForm?.get('email')?.errors &&
                  userForm.get('email')?.touched
                "
                class="text-danger"
              >
                <div *ngIf="userForm.get('email')?.errors?.['required']">
                  L'email è obbligatoria.
                </div>
                <div *ngIf="userForm.get('email')?.errors?.['email']">
                  Inserisci una email valida.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <div
                *ngIf="
                  userForm?.get('password')?.errors &&
                  userForm.get('password')?.touched
                "
                class="text-danger"
              >
                <div *ngIf="userForm.get('password')?.errors?.['minlength']">
                  La password deve avere almeno 8 caratteri.
                </div>
              </div>
            </div>

            <div formGroupName="address">
              <div class="mb-3">
                <label for="via" class="form-label">Via:</label>
                <input
                  type="text"
                  class="form-control"
                  id="via"
                  formControlName="via"
                />
                <div
                  *ngIf="
                    userForm?.get('address')?.get('via')?.errors &&
                    userForm.get('address')?.get('via')?.touched
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="userForm.get('address')?.get('via')?.errors?.['required']"
                  >
                    La via è obbligatoria.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="localita" class="form-label">Località:</label>
                <input
                  type="text"
                  class="form-control"
                  id="localita"
                  formControlName="localita"
                />
              </div>
              <div class="mb-3">
                <label for="numeroCivico" class="form-label"
                  >Numero Civico:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numeroCivico"
                  formControlName="numeroCivico"
                />
                <div
                  *ngIf="
                    userForm?.get('address')?.get('numeroCivico')?.errors &&
                    userForm.get('address')?.get('numeroCivico')?.touched
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="userForm.get('address')?.get('numeroCivico')?.errors?.['required']"
                  >
                    Il numero civico è obbligatorio.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="cap" class="form-label">CAP:</label>
                <input
                  type="text"
                  class="form-control"
                  id="cap"
                  formControlName="cap"
                />
              </div>

              <div class="mb-3">
                <label for="comune" class="form-label">Comune:</label>
                <input
                  type="text"
                  class="form-control"
                  id="comune"
                  formControlName="comune"
                />
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn profileButton">
                Aggiorna Profilo
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">Prodotti Preferiti</div>
        <ul
          class="list-group list-group-flush overflow-auto"
          style="max-height: 300px"
        >
          <li
            class="list-group-item"
            *ngFor="let product of user?.favoriteProducts"
          >
            {{ product.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Le mie recensioni</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let review of user?.reviews">
            <strong>Recensione:</strong> {{ review.reviewText }}
            <br />
            <strong>Valutazione:</strong>
            <span *ngFor="let star of [1, 2, 3, 4, 5]">
              <i
                class="fa"
                [class.fa-star]="review.rating >= star"
                [class.fa-star-o]="review.rating < star"
              >
              </i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="reviewModal"
  tabindex="-1"
  aria-labelledby="reviewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLabel">Aggiungi recensione</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeReviewModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="showFeedback" class="alert alert-success mb-3">
          {{ feedbackMessage }}
        </div>
        <div class="mb-3">
          <label class="form-label">Valutazione:</label>
          <div class="rating">
            <span
              *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="setRating(star)"
              (mouseover)="setHover(star)"
              (mouseout)="removeHover()"
              [class.selected]="rating >= star"
              [class.hovered]="hoverRating >= star"
            >
              ☆
            </span>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">La tua recensione:</label>
          <textarea
            [(ngModel)]="reviewText"
            class="form-control"
            rows="4"
            placeholder="Scrivi la tua recensione qui..."
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between">
          <button
            type="button"
            class="btn annButton"
            data-bs-dismiss="modal"
            (click)="closeReviewModal()"
          >
            Chiudi
          </button>
          <button
            type="button"
            class="btn sandButton ms-2"
            (click)="submitReview()"
            *ngIf="authService.isAuthenticated() && selectedProductForReview"
          >
            Invia
          </button>
        </div>
        <div>
          <p *ngIf="!authService.isAuthenticated()">
            Effettua il login per lasciare una recensione.
          </p>
          <p *ngIf="authService.isAuthenticated() && !selectedProductForReview">
            Seleziona un prodotto per lasciare una recensione.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
