<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card border shadow-0 cartColor">
          <div class="m-4">
            <h4 class="card-title mb-4">Il tuo carrello</h4>

            <div class="row gy-3 mb-4" *ngFor="let item of cartItems">
              <div class="col-lg-5">
                <div class="me-lg-5">
                  <div class="d-flex">
                    <img
                      [src]="item.product.imageUrl"
                      class="border rounded me-3"
                      style="width: 96px; height: 96px"
                    />
                    <div class="">
                      <a href="#" class="nav-link">{{ item.product.name }}</a>
                      <p class="text-muted">{{ item.product.description }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap align-items-center"
              >
                <div class="">
                  <select
                    [(ngModel)]="item.quantity"
                    style="width: 100px"
                    class="form-select me-4"
                    (change)="updateQuantity(item)"
                  >
                    <option
                      *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                    >
                      {{ number }}
                    </option>
                  </select>
                </div>
                <div class="mt-3">
                  <p class="h6">€{{ item.product.price * item.quantity }}</p>
                  <small class="text-muted text-nowrap">
                    €{{ item.product.price }} / per pezzo
                  </small>
                </div>
              </div>
              <div
                class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2"
              >
                <div class="d-flex justify-content-center align-items-center">
                  <button
                    (click)="onRemove(item.product.productId)"
                    class="btn remouveButton text-white"
                  >
                    Rimuovi
                  </button>
                  <span class="ms-4">
                    <i
                      class="far fa-heart"
                      (click)="toggleFavorite(item.product)"
                      [class.fas]="
                        favoriteProductIds.includes(item.product.productId)
                      "
                      [class.far]="
                        !favoriteProductIds.includes(item.product.productId)
                      "
                    ></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="border-top pt-4 mx-4 mb-4">
            <p>
              <i class="fas fa-truck text-muted fa-lg"></i> Sepdizione sempre
              gratuita con consegna in massimo 7 giorni
            </p>
            <p class="text-muted">
              La nostra piattaforma di e-commerce si distingue offrendo una
              spedizione veloce e gratuita in massimo 7 giorni. Questo servizio
              esclusivo assicura ai nostri clienti la consegna dei loro acquisti
              in una settimana o meno, rispondendo in modo ineguagliabile alle
              esigenze di chi desidera ricevere prodotti in tempi brevissimi. La
              nostra priorità è la soddisfazione del cliente e, grazie a questa
              offerta unica, rendiamo l'esperienza di acquisto sul nostro sito
              ancora più speciale e conveniente. Esclusività, rapidità e
              convenienza: tutto in un unico servizio, solo da noi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 sticky-summary">
        <div class="card shadow-0 border cartColor">
          <div class="card-body">
            <h6>Riepilogo carrello:</h6>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">{{ totalPrice | currency : "EUR" : "symbol" }}</p>
            </div>

            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold">
                {{ finalTotal | currency : "EUR" : "symbol" }}
              </p>
            </div>

            <div class="mt-3">
              <a
                [routerLink]="['/order']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="btn checkoutButton w-100 shadow-0 mb-2"
              >
                Checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
