<footer class="text-center text-lg-start text-muted mt-3 footerColor">
  <section class="">
    <div class="container text-center text-md-start pt-4 pb-4">
      <div class="row mt-3">
        <div class="col-12 col-lg-4 col-sm-12 mb-2">
          <h2 class="logo">Digital Delights</h2>
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <h6 class="text-uppercase text-dark fw-bold mb-2">Negozi</h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-black" href="#">Chi siamo</a></li>
            <li><a class="text-black" href="#">Trova negozi</a></li>
          </ul>
        </div>

        <div class="col-6 col-sm-4 col-lg-3">
          <h6 class="text-uppercase text-dark fw-bold mb-2">Informazioni</h6>
          <ul class="list-unstyled mb-4">
            <li>
              <a
                class="text-black"
                target="_blank"
                href="https://github.com/Peppe1795"
                >Github</a
              >
            </li>
            <li>
              <a
                class="text-black"
                target="_blank"
                href="https://www.facebook.com/giuseppe.petrucci2"
                >Facebook</a
              >
            </li>
            <li>
              <a
                class="text-black"
                target="_blank"
                href="https://www.instagram.com/peppe__1795/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>

        <div class="col-6 col-sm-4 col-lg-3">
          <h6 class="text-uppercase text-dark fw-bold mb-2">Supporto</h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-black" href="#">Centro assistenza</a></li>
            <li><a class="text-black" href="#">Documentazione</a></li>
            <li><a class="text-black" href="#">Ripristino account</a></li>
            <li><a class="text-black" href="#">I tuoi ordini</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
